.container { margin-top: 20px;}

#one{ font-family: serif;}

#offcanvasRightLabel {font-family: serif; font-weight: 10px; font-size: 50px; color: rgb(42, 72, 44);}

ul {list-style-type: circle;}

#second {  background-color:rgb(102, 178, 178); color: black; position: sticky; margin-right: 20px; margin-top: 20px;}

button{ float: right; }

#third{ margin-top: 20px;}